<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Peter Bull wrote this source code -->
  <meta name="author" content="Peter Bull">

  <!-- Character set of website specified -->
  <meta charset="utf-8">

  <!-- Title of website tab -->
  <title>Spicy Slice</title>

  <!-- CSS file for website linked -->
  <link rel="stylesheet" href="/style/website.css">

   
    
      
    
</head>
<body>
<header>
	<h1>Spicy Slice</h1>
     <div id=extra>
    <form action="/login_page" method="get">
    <input type="submit" value="Log In" 
         name="Login" />
    </form>
    
    <form action="/registration_page" method="get">
    <input type="submit" value="Register" 
         name="Register" />
    </form>     
    </div>
</header>

<!-- navigation -->
<nav>
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/contactUs">Contact us</a></li>
    <li><a href="/aboutUs">About us</a></li>
  </ul>
</nav>

<!-- main content area -->
<main>

    <h1>Contact us</h1>

 <h2>Contact details:</h2>

   <p><span class="bold">Phone number:</span> 01632 960704</p>

   <p><span class="bold">Address:</span> 15 Kendell Street, SHEFFIELD, S2 4ZX</p>

   <p><span class="bold">Email address:</span> spicyslicesheffield@gmail.com</p>

   <p><span class="bold">Twitter:</span> https://twitter.com/Spicy_Slice_Piz</p>

</main>

<!-- footer -->
<footer>
  <p>&copy; Spicy Slice, 2016</p>
</footer>

<!-- logo image -->
<img src="/images/Pizza.png" alt="Pizza/Fire" width=180px class="Logo">

</body> 
</html>