<!DOCTYPE html>
<html lang="en">

<head>
  <TITLE>Login</TITLE>
    
  <link rel="stylesheet" href="/style/website.css">
</head>

<body>
   <header>
<img src="/images/Pizza.png" alt="Pizza/Fire" width=180px class="Logo"></header>   
  
  <center>
  <form action="login_page" method="post">
  
      
    <p>
      <label for="twitter_handle2">Twitter:</label>
      <input type="text" name="twitter_handle2" value="" required>
    </p>  

    <p>
      <label for="password2">Password:</label>
      <input type="password" name="password2" value="" required>
    </p>
        
    <p2>
      <input id="btn" type="submit" name="Log In" value="Log In">
    </p2>

  </form>
      <p2>
      <form action="/index" method="get">
    <input type="submit" value="Home" 
         name="Home" />
      </form></p2>
    </center>  
</body>
<!-- footer -->
<footer>
  <p>&copy; Spicy Slice, 2016</p>
</footer>

<!-- logo image -->
</html>